body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: #2d3c49;
    background: #F2F1ED;
    
}

h2,
h4,
h5,
h6 {
    color: #7d97ad;
    margin-bottom: 10px;
}

/*******Align Flex Items center**********/
.center-aligned {
  align-self: center;
}

.container {
    width: 94vw;
}

.large-circle {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}

/*********Responsive Styles***********/
@media screen and (max-device-width: 768px) {
    .large-circle {
        width: 165px;
        height: 165px;
    }
 .card {
     margin-bottom: 10px;
 }    

 header {
     margin: 10px 0;
 }

}
/*********Responsive Styles***********/
@media screen and (max-device-width: 767px) {

  .text-right {
      text-align: center!important;
  }
}